<h1>raju</h1>

<div>employes</div>
<input type="text" >
<table border="1">
    <thead>
        <tr>
            <th>name</th>
            <th>position</th>
            <th>office</th>
            <th>age</th>
            <th>start date</th>
            <th>salary</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let employe of employes">
            <td>{{employe.name}}</td>
            <td>{{employe.position}}</td>
            <td>{{employe.office}}</td>
            <td>{{employe.age}}</td>
            <td>{{employe.startdate}}</td>
            <td>{{employe.salary}}</td>
         </tr>
    </tbody>
</table>