<form [formGroup]="userForm">
    <label for="">name</label>
    <input type="text" formControlName="name">
    <div class="text-dark" *ngIf="userForm.get('name')?.touched && userForm.get('name')?.invalid">
        <p *ngIf="userForm.get('name')?.errors?.['required']">name is required</p>
        <p *ngIf="userForm.get('name')?.errors?.['minlength']">name should be min 3 chars</p>
        <p *ngIf="userForm.get('name')?.errors?.['maxlength']">name should be max 10 chars </p>
    </div>
    <br>

    <label for="">age</label>
    <input type="number" formControlName="age">
    <div class="text-dark" *ngIf="userForm.get('age')?.touched && userForm.get('age')?.invalid">
        <p *ngIf="userForm.get('age')?.errors?.['required']">name is required</p>
        <p *ngIf="userForm.get('age')?.errors?.['min']">min 0 years</p>
        <p *ngIf="userForm.get('age')?.errors?.['max']">max 100 years </p>
    </div>
    <br>

    <label for="">phone</label>
    <input type="text" formControlName="phone">
    <div class="text-dark" *ngIf="userForm.get('phone')?.touched && userForm.get('phone')?.invalid">
        <p *ngIf="userForm.get('phone')?.errors?.['required']">name is required</p>
        <p *ngIf="userForm.get('phone')?.errors?.['min']">min 1000000000 number</p>
        <p *ngIf="userForm.get('phone')?.errors?.['max']">max 9999999999 number </p>
    </div>
    <br>

    <label for="">email</label>
    <input type="text" formControlName="email">
    <div class="text-dark" *ngIf="userForm.get('email')?.touched && userForm.get('email')?.invalid">
        <p *ngIf="userForm.get('email')?.errors?.['required']">email is required</p>
        <p *ngIf="userForm.get('email')?.errors?.['email']">invalid email format</p>
        <p *ngIf="userForm.get('email')?.errors?.['emailDomain']">YOU need to enter capgemini mail only</p>
    </div>
    <br>

    <div formGroupName="address">
        <label for="">state:</label>
        <input type="text" formControlName="state">
        <div class="text-dark" *ngIf="userForm.get('address')?.get('state')?.touched && userForm.get('address')?.get('state')?.invalid">
            <p *ngIf="userForm.get('address')?.get('state')?.errors?.['required']">state is required</p>
        </div>
        <br>

        <label for="">pin:</label>
        <input type="number" formControlName="pin">
        <div class="text-dark" *ngIf="userForm.get('address')?.get('pin')?.touched && userForm.get('address')?.get('pin')?.invalid">
            <p *ngIf="userForm.get('address')?.get('pin')?.errors?.['required']">pin is required</p>
        </div>
        <br>
    </div>

    <button (click)="add()">Add card</button>
    <br>

    <div formArrayName="cards">
        <div *ngFor="let card of cardsFormArray.controls;let i=index">
            <div formArrayName="{{i}}">

                <label for="">number:</label>
                <input type="number" formControlName="number">
                <div class="text-dark" *ngIf="cardsFormArray.controls[i]?.get('number')?.touched && cardsFormArray.controls[i]?.get('number')">
                    <p *ngIf="cardsFormArray.controls[i]?.get('number')?.errors?.['required'] ">card number is required </p>
                </div>
                <br>

                <label for="">expiry:</label>
                <input type="month" formControlName="expiry">
                 <br>

                <label for="">cvv:</label>
                <input type="number" formControlName="cvv">
                <br>
                <button class="btn btn-danger" (click)="delete(i)">delete</button>
                <hr>
            </div>
        </div>
    </div>
    <label for="">type</label>
    <label for="">DayScholor</label>
    <input type="radio" name="type" formControlName="type" value="DayScholor">
    <label for="">Residential</label>
    <input type="radio" name="type" formControlName="type" value="Residential">
    <br>

    <div *ngIf="userForm.get('type')?.value == 'DayScholor'">
       <label for="">BusFee</label>
       <input type="number" formControlName="busFee">
       <br>
    </div>
    <div *ngIf="userForm.get('type')?.value == 'Residential'">
       <label for="">HostalFee</label>
       <input type="number" formControlName="hostelFee">
       <br>
    </div>
    
    <button [disabled]="userForm.invalid" (click)="submit()">submit</button>
</form>