<form [formGroup]="studentTaskForm">
    <label>name</label>
    <input type="text" formControlName="name">
    <br>
    <label>city</label>
    <input type="text" formControlName="city">
    <br>
    <label>phone</label>
    <input type="text" formControlName="phone">
    <br>
    <label>address</label>
    <input type="text" formControlName="address">
    <br>
    <label>photo</label>
    <input type="text" formControlName="photo">
    <br>
    <label>placedIn</label>
    <input type="text" formControlName="placedIn">
    <br>
    <label>salary</label>
    <input type="text" formControlName="salary">
    <br>
    <label>id</label>
    <input type="text" formControlName="id">
    <br>
    <button (click)="submit()">submit</button>
</form>
