<div class="parent">
    <div class="child" *ngFor="let bank of banks">
        <p>{{bank.account_name}}</p>
        <p>{{bank.available_balance}}</p>
        <p>{{bank.account_number}}</p>
        <p>{{bank.id}}</p>
        <p>{{bank.sno}}</p>
        <p>{{bank.EmployeeId}}</p>
        <p>{{bank.EmployeeName}}</p>
        <p>{{bank.BillacilityStatus}}</p>
        <p>{{bank.Location}}</p>
        <p>{{bank.Band}}</p>
        <p>{{bank.Yrsofexp}}</p>
        <p>{{bank.RollOverdate}}</p>
        <p>{{bank.RollOverQuarter}}</p>
        <p>{{bank.prp}}</p>
        <p>{{bank.Codility}}</p>
        <p>{{bank.ReadyforDeploymentskill}}</p>
        <p>{{bank.Profile}}</p>
        <p>{{bank.PropsedCustomer1}}</p>
        <p>{{bank.PropsedCustomer2}}</p>
        <p>{{bank.PropsedCustomer3}}</p>
        <p>{{bank.PropsedCustomer4}}</p>
        <p>{{bank.PropsedCustomer5}}</p>
        <p>{{bank.ReasonforRejection}}</p>
        <p>
            <img src="{{bank.image}}" alt="" width="100px" height="100px">
        </p>
        

        




    </div>
</div>
