<h1>{{today}}</h1>
<h2>{{today | date }}</h2>
<h2>{{ today | date:'yyyy/MM/dd' }}</h2>
<h2>{{ today | date:'dd/MM/yy' }}</h2>

<h2>{{ user | json }}</h2>

<h1>{{name}}</h1>
<h2 *ngFor="let name of names">{{name}}</h2>
<ol>
    <li *ngFor="let name of names">{{name}}</li>
</ol>

<select>
    <option *ngFor="let state of states">{{state}}</option>
</select>

<h2 *ngFor="let user of users">my name is {{user.name}} and my age is {{user.age}}.</h2>

<table border="1">
    <thead>
        <tr>
            <th>name</th>
            <th>sub</th> 
            <th>marks</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let student of students">
            <td>{{ student.name | uppercase }}</td>
            <td [ngClass]=" { 'pass':student.marks>=35, 'fail':student.marks<35 }">{{ student.sub }}</td>
            <td [ngStyle]=" { 'background-color':student.marks>=35?'red':'green' } ">{{ student.marks }}</td>
        </tr>
    </tbody>
</table>


<div class="product" *ngFor="let product of products">
    <h3>product name : {{product.name}} </h3>
    <h3>product price : {{product.price}} </h3>
    <h3>product rating : {{product.rating}} </h3>
</div>
<br> 


<label>time:</label>
<input type="number" [(ngModel)]="time">

<h1 *ngIf="time>=0 && time<=12">good morning</h1>
<h1 *ngIf="time>=13 && time<=17">good afternoon</h1>
<h1 *ngIf="time>=18 && time<=20">good evening</h1>
<h1 *ngIf="time>=21 && time<=24">good night</h1>
