.product{
    width: 130px;
    height: 130px;
    border: 2px solid red;
    padding: 3px;
    margin: 2px;
    display: inline-block;
    background-color: aliceblue;
    overflow: auto;
}
.pass{
    background-color: green;
    color: white;
    border: 2px solid yellow;
}
.fail{
    background-color: red;
    color: white;
    border: 2px solid blue;
}