<div>
    <input type="text" placeholder="Search" [(ngModel)]="term" (keypress)="search()">
    <button (click)="price1h()">price low to high</button>
    <button (click)="price2h()">price high to low</button>
    <button (click)="rating1()">rating low to high</button>
    <button (click)="rating2()">rating high to low</button>
    <br>
    <button class="btn btn-warning" (click)="freedelivery">freedelivery</button>
    <button class="btn btn-dark" (click)="applydiscount()">apply 50% discount</button>
    <button class="btn btn-warning" (click)="applydeliverycharges()">price with delivery</button>
    <button class="btn btn-dark" (click)="total()">total price</button>
    <button (click)="totalcaritems()">total cart items</button>
</div>
<div>
    <label>name:</label>
    <input type="text" [(ngModel)]="name">
    <br>
    <label>price</label>
    <input type="number" [(ngModel)]="price">
    <br>
    <label>rating</label>
    <input type="number" [(ngModel)]="rating">
    <br>
    <label>free delivery</label>
    <input type="radio" name="fb" value="true" [(ngModel)]="freedelivery">
    <label>YES</label>
    <input type="radio" name="fb" value="false" [(ngModel)]="freedelivery">
    <label >NO</label>
    <br>
    <button (click)="add()" >add to cart</button>
</div>

<table class="table table-dark table-bordered table-hover">
    <thead>
        <tr>
            <th>S.No</th>
            <th>product</th>
            <th>price</th>
            <th>rating</th>
            <th>free delivery</th>
            <th>actions</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let product of products let i=index">
            <td>{{ i+1 }} </td>
            <td>{{product.name}}</td>
            <td>{{product.price}}</td>
            <td>{{product.rating}}</td>
            <td>{{product.freedelivery}}</td>
            <td>
                <button class="btn btn-dark" (click)="delete(i)">delete</button>
            </td>
        </tr>

    </tbody>
</table>


















